{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="header py-3" style="height: 100vh;">
	<div class="container-abt final" style="height: 70vh;">
		<div class="letter F">C</div>
		<div class="letter l">O</div>
		<div class="letter i">N</div>
		<div class="letter p">W</div>
		<div class="letter F">A</div>
		<div class="letter l">V</div>
		<div class="letter i">E</div>
		<br>
		<div class="for" >for</div>
		<div class="gsap" >IT Solutions</div>
	</div>
	<div class="logo-slider" data-v-4ef8651c="" style="height: 30vh;">
		<div class="logos-slide" data-v-4ef8651c="">
		  <img src="https://i.ibb.co/Vv5rkDK/api-partner-verzon.png" data-v-4ef8651c="">
		  <img src="https://i.ibb.co/J399KDg/api-partner-netflix.png" data-v-4ef8651c="">
		  <img src="https://i.ibb.co/TKT0F5L/api-partner-yelp.png" data-v-4ef8651c="">
		  <img src="https://i.ibb.co/HG6KR89/api-partner-adobe.png" data-v-4ef8651c="">
		  <img src="https://i.ibb.co/hMSJ1sg/api-partner-ring.png" data-v-4ef8651c="">
		  <img src="https://i.ibb.co/4RWQcMS/api-partner-nespresso.png" data-v-4ef8651c="">
		</div>
	</div>
</div>





<div class="container">

	<div class="container py-2" style="color: gray;">
		<h3 style="color: gray;">CONWAVE IT SOLUTIONS & SERVICES is a dynamic IT company committed to providing
			top-notch IT solutions and services to businesses of all sizes. Our focus on innovation, quality, and
			customer satisfaction drives us to offer a comprehensive range of IT services that address the diverse needs
			of our clients. Our team of skilled professionals works tirelessly to ensure seamless and secure operations
			for our clients.</h2>
	</div>

	<div class="container row " style="margin: 10% 0px;">
		<div class=" col-sm-6 rounded-2  my-auto " style="background-color: #2e2e2e;">
			<h1 class="text-white ">Our Mission</h1>
			<p class="text-light " style="font-size: 20px;">At CONWAVE IT SOLUTIONS & SERVICES, our mission is to
				deliver innovative, reliable, and efficient IT solutions that empower businesses and individuals to
				achieve their goals. We are dedicated to solving user problems with effective and customized solutions,
				ensuring optimal performance and satisfaction..</p>
		</div>
		<div class=" col-sm-6 overflow-hidden py-3">
			<img src="https://img.freepik.com/free-photo/standard-quality-control-collage-concept_23-2149595847.jpg?size=626&ext=jpg&ga=GA1.1.1012721476.1720277002&semt=sph"
				alt="" style="border-radius: 15%;">
		</div>
	</div>




	<div class="container row" style="margin: 10% 0px;">
		
		<div class=" col-sm-6 overflow-hidden my-auto px-2">
			<img src="https://img.freepik.com/free-vector/business-deal-concept-illustration_114360-1535.jpg?ga=GA1.1.1012721476.1720277002&semt=sph"
				alt="" style="border-radius: 15%;">
		</div>

		<div class=" col-sm-6 rounded-2  px-4 py-2" >
			<h1 class="text-white ">Why To Choose CONWAVE</h1>
			<p class="text-light " style="font-size: 20px;">
				● Expertise: Our team of IT professionals has extensive experience and deep knowledge in various IT
				domains.<br><br>
				● Customized Solutions: We understand that every business is unique, and we provide solutions tailored
				to specific needs and challenges.<br><br>
				● Proactive Approach: We anticipate potential issues and address them before they become problems,
				ensuring uninterrupted operations.<br><br>
				● Customer Satisfaction: We measure our success by the satisfaction of our clients, and we are committed
				to building long-term, mutually beneficial relationships.

			</p>
		</div>
	</div>


	<!-- ----------------Product solutions------------ -->
	<div class="container  py-4">
		<h1 style="color: #ffffff; font-size: clamp(2rem, 0.4062rem + 8.5vw, 6.25rem);" class="wow zoomIn text-center">Product Solutions</h1>
	</div>

	<div id="wrapper">
		<div id="content">
			<div class="spacer"></div>
			<div class="accordions">
				<div class="accordion">
					<div class="title fs-2">Industry-Specific Software.</div>
					<div class="prdtext fs-5">● Tailored Software Solutions: Developing software specifically designed for
						industries such as healthcare, finance, manufacturing, and retail.<br><br>
						●Integration of Best Practices: Enhancing operational efficiency and productivity by
						incorporating industry best practices.
						.</div>
				</div>
				<div class="accordion">
					<div class="title fs-2">Innovative Products.</div>
					<div class="prdtext fs-5">● Cutting-Edge Solutions: Creating products that leverage advanced technologies
						like AI, machine learning, and IoT to address industry challenges.<br><br>
						● Staying Ahead of Trends: Continuously innovating to meet evolving market demands and stay
						ahead of industry trends.
					</div>
				</div>
				<div class="accordion">
					<div class="title fs-2">Customizable Platforms.</div>
					<div class="prdtext fs-5">● Scalable and Customizable Solutions: Developing platforms that can be adapted
						to the unique needs of different industries.<br><br>
						● User-Friendly Interfaces: Focusing on seamless integration with existing systems and ensuring
						ease of use.
					</div>
				</div>
				<div class="accordion">
					<div class="title fs-2">End-to-End Solutions.</div>
					<div class="prdtext fs-5">● Comprehensive Product Development: Covering all aspects of product
						development, from ideation and design to implementation and support.<br><br>
						● Delivering Measurable Results: Ensuring our products add value to your business and deliver
						tangible results.
					</div>
				</div>
			</div>
			<!-- <div class="spacer"></div> -->
		</div>
	</div>

</div>
{% endblock %}