{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - DGital{% endblock %}

{% block content %}
<!-- -------hero section-----------  -->




<div class="hero-header"
  style="background-image: url('https://img.freepik.com/free-photo/abstract-circular-blinds-oscillation-background-3d-rings-wavy-surface-geometric-elements-displacement_1217-2518.jpg?t=st=1723216198~exp=1723219798~hmac=6680a21611ced718cad13d40d6bcc8dc2d731f33a1f8d9830121753642b8cede&w=1060');">
  <div class="overlay"></div>
  <div class="container text-center">
    <div class=" align-items-center">

      <h1 class="text-white mb-3 animated slideInDown gradient-text-1 ">Discover,Develop,Deploy</h1>
      <h3 class="text-white pb-3 animated slideInDown" style="color: #FFFFFF;">the true potential of your business with
        our digital
        engineering services </h3>

      <button type="button" class="main-btn-rect  popup-btn " data-popup="popup-reg">Contact Us</button>


    </div>


  </div>
</div>
</div>

<!-- -------two section in a row ------------------ -->
<!-- <div class="header" style="height: 100vh;">
  <div class="d-flex align-items-center text-center flex-wrap" style="padding-top: 88px;">
    <div class=" col-sm-6 my-auto">
      <h1 style="color: white;">OUR SERVICES</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo doloribus tempora animi esse, vel rerum saepe
        possimus dolor molestiae, voluptatem cum reprehenderit eum, earum debitis iure mollitia quisquam dolorem?</p>
    </div>
    <div class="col-sm-6  my-3">
      <img src="{% static 'main/img/hero.png' %}" style="object-fit: cover; min-height: 70vh;">
    </div>
  </div>
</div> -->




<div class="spacer"></div>
<div class="gallery">
	<div class="left">
		<div class="desktopContent ">
			<div class="desktopContentSection">
				<h1>Web Development</h1>
				<p>Red is a color often associated with strong emotions such as passion, love, and anger. It's a bold and attention-grabbing color that can evoke feelings of excitement, warmth, and energy.</p>
			</div>
			<div class="desktopContentSection">
				<h1>AR/VR</h1>
				<p>Green is a color that is often associated with nature, growth, and harmony. It is a calming and relaxing color that can evoke feelings of balance, stability, and freshness. In color psychology, green is said to represent balance and stability, making it a popular choice for branding and marketing in the health and wellness industry. </p>
			</div>
			<div class="desktopContentSection">
				<h1>Pink</h1>
				<p>Pink is a color that is often associated with femininity, romance, and sweetness. It is a softer and more delicate shade of red that can evoke feelings of warmth, love, and nurturing.</p>
				<p>In the world of branding and marketing, pink is often used to target a female audience or to promote products that are associated with beauty, love, or romance.</p>
				<p>Pink is also used in the food industry, as it is associated with sweetness and desserts. Pink is often used in breast cancer awareness campaigns, as it has become the signature color of the movement. </p><p>Pink is also commonly used in baby showers and weddings, as it symbolizes love, innocence, and new beginnings.</p>
			</div>
			<div class="desktopContentSection">
				<h1>Blue</h1>
				<p>Blue is a color that is often associated with calmness, trust, and reliability. It is a peaceful and serene color that can evoke feelings of stability, security, and professionalism. In color psychology, blue is said to represent loyalty and trust, making it a popular choice for branding and marketing in the finance and technology industries.</p>
			</div>

		</div>
	</div>

	<div class="right">

		<!-- desktop content -->

		<div class="desktopPhotos">
			<div class="desktopPhoto red"></div>
			<div class="desktopPhoto green"></div>
			<div class="desktopPhoto pink"></div>
			<div class="desktopPhoto blue"></div>
		</div>

	</div>
</div>

		<!-- mobile content --> 
	   <div class="mbl container">
			<div class="mobilePhoto red mx-auto"></div>
			<h1 class="text-center">Web Development</h1>
			<p>Red is a color often associated with strong emotions such as passion, love, and anger. It's a bold and attention-grabbing color that can evoke feelings of excitement, warmth, and energy.</p>

			<div class="mobilePhoto green mx-auto"></div>
			<h1 class="text-center">AR/VR</h1>
			<p>Green is a color that is often associated with nature, growth, and harmony. It is a calming and relaxing color that can evoke feelings of balance, stability, and freshness. In color psychology, green is said to represent balance and stability, making it a popular choice for branding and marketing in the health and wellness industry. </p>

			<div class="mobilePhoto pink mx-auto"></div>
			<h1 class="text-center">Pink</h1>
			<p>Pink is a color that is often associated with femininity, romance, and sweetness. It is a softer and more delicate shade of red that can evoke feelings of warmth, love, and nurturing. In the world of branding and marketing, pink is often used to target a female audience or to promote products that are associated with beauty, love, or romance.</p>

			<div class="mobilePhoto blue mx-auto"></div>
			<h1 class="text-center">Blue</h1>
			<p>Blue is a color that is often associated with calmness, trust, and reliability. It is a peaceful and serene color that can evoke feelings of stability, security, and professionalism. In color psychology, blue is said to represent loyalty and trust, making it a popular choice for branding and marketing in the finance and technology industries.</p>
		</div>
<div class="spacer"></div>







<!-- ---------------infinite horizontal stack technology scroll--------- -->
<div class="container ">
  <h1 style="text-align: center">OUR STACK OF TECHNOLOGY</h1>
  <center>

    <div class="scroller" data-speed="fast">
      <ul class="tag-list scroller__inner">
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>SSG</li>
        <li>webdev</li>
        <li>animation</li>
        <li>UI/UX</li>
      </ul>
    </div>

    <div class="scroller" data-direction="right" data-speed="slow">
      <div class="scroller__inner">
        <img src="https://i.pravatar.cc/150?img=1" alt="" />
        <img src="https://i.pravatar.cc/150?img=2" alt="" />
        <img src="https://i.pravatar.cc/150?img=3" alt="" />
        <img src="https://i.pravatar.cc/150?img=4" alt="" />
        <img src="https://i.pravatar.cc/150?img=5" alt="" />
        <img src="https://i.pravatar.cc/150?img=6" alt="" />
      </div>
    </div>

  </center>
</div>





{% endblock %}